.item-playable-container  *{
    margin: 0;
    box-sizing: border-box;
}

.item-playable-container{
    border-radius: 1rem;
    padding: 1em;
  }
  
  .item-playable-container > img{
      border-radius: 1rem;
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 30px #0000;
  }
  
  .item-playable-container > p{
    margin: 0;
    padding: .5rem .5rem;
    font-weight: bold;
    color: white;
    color: var(--title-color);
    font-family: var(--encore-title-font-stack);
    overflow: hidden;
    text-overflow:clip;
    white-space: nowrap;
  }
  
  .item-playable-container > small{
    margin: 0;
    padding: 0 .5rem;
    color: var(--small-color);
    color: var(--title-color);
    font-family: var(--encore-title-font-stack);
  }
  
  .item-playable-container:hover{
    background-color: var(--hover-color);
    cursor: pointer;
  }
  