.music-player>* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.music-player {
	text-align: center;
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.music-player .img-container {
	aspect-ratio: 1 / 1;
	width: 50%;
	height: auto;
	border-radius: 1.5rem;
	margin: 0;
	padding: 0;
	border: transparent;
	overflow: hidden;
}


.music-player .img-container > img {
	border-radius: inherit;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.player-track-info {
	display: flex;
	width: 80%;
	flex-direction: column;
	gap: .5em;
}

.player-track-info>strong:empty{
	color: transparent;
	animation: skeleton-loading 1s linear infinite alternate;
	width: 100%;
	height: 2em;
	border-radius: .25rem;
}

.player-track-info>strong:not(:empty){
	font-size: 2em;
	font-family: var(--encore-title-font-stack);
	color: var(--title-color);
}

.player-track-info>small:empty {
	animation: skeleton-loading 1s linear infinite alternate;
	height: 1.5em;
	align-self: center;
	width: 60%;
	color: transparent;
	border-radius: .25rem;
}

.player-track-info>small:not(:empty) {
	font-size: 1.5em;
	font-family: var(--encore-title-font-stack);
	color: var(--small-color);
}

.progress-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	gap: 1em;
	padding: 0 10%;
}

.progress-container>span {
	content: "    ";
	aspect-ratio: auto;
	margin-top: .22rem;
	padding: 0;
	vertical-align: middle;
	font-family: var(--encore-title-font-stack);
	color: var(--small-color);

}

.control {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

.control .btn {
	color: #666;
	padding: 18px;
	font-size: 18px;
}

.control .btn:active {
	color: var(--title-color);
}

.btn.active {
	color: var(--acent-color);
}

.control .btn:hover {
	cursor: pointer;
	color: var(--title-color);
}

.control .btn-toggle-play {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
}


.btn.btn-toggle-play .icon-pause {
	display: none;
}

.btn.btn-toggle-play.playing>.icon-pause {
	display: inline-block;
}

.btn.btn-toggle-play.playing>.icon-play {
	display: none;
}

.btn.btn-toggle-play>.icon-play {
	display: inline-block;
}




.progress {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
	border-radius: 1rem;
	height: 0.4rem;
	background-color: var(--small-color);
}

.progress:focus {
	outline: none;
}

/* webkit-based(ex: chrome, opera) */
.progress::-webkit-slider-runnable-track {
	background: var(--small-color);
	border-radius: 1rem;
	cursor: pointer;
	-webkit-appearance: none;
	height: 0.4rem;

}

.progress::-webkit-slider-thumb {
	box-shadow: none;
	border: none;
	height: 1rem;
	width: 1rem;
	margin-top: -.3rem;
	border-radius: 1rem;
	background: var(--title-color);
	-webkit-appearance: none;
	cursor: pointer;
}

.progress::-webkit-progress-value {
	background-color: var(--acent-color);
}

/* end webkit-based */

/* firefox */
.progress::-moz-range-track {
	width: 100%;
	height: 100%;
	cursor: pointer;
	box-shadow: none;
	background: var(--primary-color);
	border-radius: 1rem;
	border: none;
}

.progress:hover::-moz-range-progress {
	opacity: 1;
	height: inherit;
	background-color: var(--acent-color);
}

.progress::-moz-range-progress {
	opacity: 2;
	height: inherit;
	background-color: var(--title-color);
	border-radius: inherit;
}

.progress::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 0rem;
	width: 0rem;
	border-radius: 1rem;
	background: var(--title-color);
	cursor: pointer;
}

.progress:hover::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 1rem;
	width: 1rem;
	border-radius: 1rem;
	background: var(--title-color);
	cursor: pointer;
}

/* end firefox */


/* .progress::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: wheat;
	border-color: wheat;
	border-width: 0;
	color: rebeccapurple;
} 

.progress::-ms-fill-lower {
	background: #2a953e;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.progress::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.progress::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

.progress:focus::-ms-fill-lower {
	background: #3071a9;
}

.progress:focus::-ms-fill-upper {
	background: #367ebd;
} */

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
	display: inherit;
	border-radius: inherit;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsla(200, 20%, 70%, 0.1);
	}

	100% {
		background-color: hsla(200, 20%, 80%, 0.15);
	}
}