:root{
    font-size: calc(1vw / 1vh);
    --background-base: #000000;
    --background-elevated-base: #121212;
    --title-color: #ffff;
    --small-color: #727272;
    --acent-color: #1db954;
    --hover-color: hsla(0,0%,100%,.1);
    --encore-body-font-stack: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,sans-serif;
    --encore-title-font-stack: CircularSpTitle,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,sans-serif;
}